<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__section" *ngIf="logo || description">
        <div class="footer__logo" *ngIf="logo">{{ logo }}</div>
        <p class="footer__description" *ngIf="description">{{ description }}</p>
        <div class="footer__social" *ngIf="socialLinks.length > 0">
          <a
            *ngFor="let social of socialLinks"
            [href]="social.url"
            [attr.aria-label]="social.ariaLabel"
            class="footer__social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <ng-content select="[social-icon]"></ng-content>
          </a>
        </div>
      </div>

      <div class="footer__section" *ngFor="let section of sections">
        <h4 class="footer__title">{{ section.title }}</h4>
        <ul class="footer__list" *ngIf="section.links && section.links.length > 0">
          <li class="footer__list-item" *ngFor="let link of section.links">
            <a [href]="link.url" class="footer__link">{{ link.label }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__copyright" *ngIf="copyright">{{ copyright }}</div>
      <div class="footer__bottom-links" *ngIf="bottomLinks.length > 0">
        <a
          *ngFor="let link of bottomLinks"
          [href]="link.url"
          class="footer__link"
        >
          {{ link.label }}
        </a>
      </div>
    </div>
  </div>
</footer>
