<zl-header
  logoText="ZoomLoop"
  logoInitial="Z"
  logoHref="/"
  [navItems]="navItems"
  [activeRoute]="activeRoute"
  [scrolled]="isScrolled"
  ctaText="Browse Cars"
  (signIn)="onSignIn()"
  (ctaClick)="onCtaClick()"
></zl-header>

<main class="layout__main">
  <router-outlet />
</main>

<zl-footer
  logoText="ZoomLoop"
  logoInitial="Z"
  tagline="Canada's #1 online car retailer"
  [columns]="footerColumns"
  [socialLinks]="socialLinks"
  [legalLinks]="legalLinks"
  (newsletterSubscribe)="onNewsletterSubscribe($event)"
></zl-footer>
