<zl-header
  logoText="ZoomLoop"
  logoInitial="Z"
  logoHref="/"
  [navItems]="navItems"
  [activeRoute]="activeRoute"
  [scrolled]="isScrolled"
  [isLoggedIn]="isLoggedIn"
  [userInitials]="userInitials"
  [userName]="userName"
  ctaText="Browse Cars"
  (signIn)="onSignIn()"
  (ctaClick)="onCtaClick()"
  (myProfileClick)="onMyProfile()"
  (signOutClick)="onSignOut()"
></zl-header>

<main class="layout__main">
  <router-outlet />
</main>

<zl-footer
  logoText="ZoomLoop"
  logoInitial="Z"
  tagline="Canada's #1 online car retailer"
  [columns]="footerColumns"
  [socialLinks]="socialLinks"
  [legalLinks]="legalLinks"
  (newsletterSubscribe)="onNewsletterSubscribe($event)"
></zl-footer>

<zl-login-dialog
  [isOpen]="isLoginDialogOpen"
  [mode]="loginDialogMode"
  [isLoading]="isAuthLoading"
  [errorMessage]="authErrorMessage"
  (closed)="onLoginDialogClose()"
  (login)="onLogin($event)"
  (register)="onRegister($event)"
  (forgotPassword)="onForgotPassword($event)"
  (modeChanged)="onLoginModeChange($event)"
  (navigateToCreateAccount)="onNavigateToCreateAccount()"
></zl-login-dialog>
