<nav class="navbar">
  <div class="navbar__container container">
    <a href="/" class="navbar__logo" *ngIf="logoText || logoImageUrl">
      <img *ngIf="logoImageUrl" [src]="logoImageUrl" alt="Logo" class="navbar__logo-image" />
      <span *ngIf="logoText && !logoImageUrl">{{ logoText }}</span>
    </a>

    <button
      type="button"
      class="navbar__toggle"
      (click)="toggleMenu()"
      [attr.aria-label]="menuOpen ? 'Close menu' : 'Open menu'"
      [attr.aria-expanded]="menuOpen"
    >
      ☰
    </button>

    <ul class="navbar__menu" [class.navbar__menu--open]="menuOpen">
      <li class="navbar__item" *ngFor="let item of navItems">
        <a
          [href]="item.url"
          class="navbar__link"
          [class.navbar__link--primary]="item.primary"
          [class.navbar__link--active]="item.active"
          (click)="closeMenu()"
        >
          {{ item.label }}
        </a>
      </li>
    </ul>

    <div class="navbar__actions">
      <ng-content />
    </div>
  </div>
</nav>
